.inkbot1{
  width: 200px;
  height: 300px;
  animation: wave1 5s infinite;
}









.inkbot2{
    width: 200px;
  height: 300px;
   animation: wave2 5s infinite;
  
  
}










.inkbot3{
    width: 200px;
  height: 300px;
    animation: wave3 5s infinite;
  
}


.title{
  text-align: center;
  width: 500px;
  height: 200px;
  border: dotted black;
  border-radius: 40px;
  
}


body{
  font-family: times new roman;

}





@keyframes wave1 {
  0% {
    transform: translateY(0)translateX(0)
  }
  50% {
    transform: translateY(100px)translateX(20px)
  }
  100% {
    transform: translateY(0)translateX(0)
  }
}



@keyframes wave2 {
  0% {
    transform: translateY(70px)translateX(500px)
  }
  50% {
    transform: translateY(60px)translateX(700px)
  }
  100% {
    transform: translateY(70px)translateX(500px)
  }
}





@keyframes wave3 {
  0% {
    transform: translateY(10px)translateX(200px)
  }
  50% {
    transform: translateY(-60px)translateX(100px)
  }
  100% {
    transform: translateY(10px)translateX(200px)
  }
}









